[submodule "oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule "zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "lightline.vim"]
  path = .vim/bundle/lightline.vim
  url = https://github.com/itchyny/lightline.vim
[submodule "config/rofi-themes"]
	path = config/rofi-themes
	url = https://github.com/adi1090x/rofi.git
