[alias]
      random = !"git add -A; git commit -am \"$(echo $(curl -s http://whatthecommit.com/index.txt)\" (http://whatthecommit.com)\")\"; git push"
[user]
	name = Kevin Rajan
	email = veeman961@gmail.com
